@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Quicksand');
.let-vote{
    padding: 10vw;
    min-height: 30vw;
    vertical-align: middle;
    font-family: 'Barlow Condensed', sans-serif;    
    background-color: #808080;
    white-space: nowrap;
    overflow-x: hidden;
}
.votesas{
    position: relative;
    margin-left: -30%;
    text-align: center;
}
.let-vote p{ 
    font-size: 5vw;
    text-align: center;
    color: white;
    white-space: nowrap;
}
#vote-btn{
    position: relative;
    padding: 0;
    margin-left: -50%;
}
.btn-default{
    margin-left: 63%;
}
#all-food{
    margin-bottom: 5vw;
    overflow: hidden;
}
#vote-btn{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3vw;
    padding: 0;
    color: #fff;
}
#butvote{
    font-size: 3vw;
    padding: 0;
    color: #fff;
    margin-bottom: 1%;
}
.btn{
    text-transform: uppercase;
    font-size: 3vw;
    padding: 0;
    background-color: #424242;
    width: 10vw;
    height: 5vw;
}
/*.social-container {
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    display: inline-block;
    width: 16vw;
    height: 3.6vw;
    -webkit-perspective: 2000px;
            perspective: 2000px;
    font-size: 3vw;
    margin: auto;
  }
.social-container.codepen{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 4.8vW;
}
  .social-container .social-cube {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -70%;
    min-width: 45vw;
    min-height: 10vw;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.333s;
    transition: all 0.333s;
    -webkit-transform: translateZ(-18px);
            transform: translateZ(-18px);
  }
  .social-container .social-cube .front, .social-container .social-cube .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    -webkit-transition: background 0.333s;
    transition: background 0.333s;
  }
  .social-container .social-cube .front {
    -webkit-transform: rotateX(0deg) translateZ(5vw);
            transform: rotateX(0deg) translateZ(5vw);
  }
  .social-container .social-cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(5vw);
            transform: rotateX(-90deg) translateZ(5vw);
  }
  .social-container:hover .social-cube {
    -webkit-transform: translateZ(-18px) rotateX(90deg);
            transform: translateZ(-18px) rotateX(90deg);
  }
  .social-container.codepen .social-cube .front, .social-container.codepen .social-cube .back {
    background: #191919;
  }
  .social-container.codepen .social-cube .bottom {
    background: black;
  }
  .social-container.codepen:hover .social-cube .bottom {
    background: #191919;
  }
  .social-container.codepen:hover .social-cube .front {
    background: #333333;
  }*/